div{
	background-color: aqua;
	width: 150px;
	height: 150px;
	margin: 10px;
	border: 1px solid black;
}
.padre{
	width: 550px;
	height: 180px;
}
.hijo{
	display: inline-block;
}

.caja{
	display: inline-block;
}